/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* containers and others */
.container-large {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;

}

.radius {
    border-radius: 20px;
}

.radius-ampio {
    border-radius: 50px;
}


.button1 {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 8px 15px;
}

.button2>a {
    background-color: #0084FD;
    color: white;
    border-radius: 25px;
    padding: 8px 15px;
    width: 10rem;
    text-align: center;
    display: inline-block;
}

.button3>a {
    background-color: #9792E4;
    color: white;
    border-radius: 25px;
    padding: 8px 35px;
    display: inline-block;
}

.button4 {
    background-color: #9792E4;
    color: white;
    border-radius: 25px;
    padding: 5px 5px;
    max-width: 12rem;
    display: inline-block;
}


.button5>a {
    display: inline-block;
    background-color: white;
    color: #9792E4;
    border-radius: 25px;
    padding: 12px 35px;
    margin: 1rem 0;
}

.boolean {
    text-decoration: underline;
    color: #0084FD;
}

.container-small {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

.container-xs {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.violet {
    background-color: #9792E4;
}

.violet-font {
    color: #9792E4;
}

.white-font {
    color: white;
}

.gold {
    color: gold;
}

.pump {
    font-size: 3rem;
    font-weight: 700;
}

.blue-t-and-icons {
    color: #0084FD;
    margin: 2rem 0;
    font-weight: bold;
}

/* header */
header {
    width: 100%;
    background-color: #0084FD;
    position: fixed;
    z-index: 1;
    color: white;
}

.d-flex {
    display: flex;
    gap: 10px;
}

.col {
    flex-direction: column;
}

.d-flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links-list {
    display: flex;
    gap: 20px;
    justify-content: flex-end;

}

.header-links a {
    display: inline-block;
}

.burger-menu {
    display: none;
}

/* structure-section */
.structure-section {
    padding-top: 6rem;
}

.row {
    width: 103%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 2rem 0 3rem 0;
}

.card {
    width: calc(100% / 3 - 30px);
    background-color: #B5DDFF;
    padding: 1rem;
}

.card.side {
    width: calc(100% / 3 - 30px);
    background-color: #B5DDFF;
}

.card.double {
    width: calc(100% / 3 * 2 - 30px);
    background-color: #B5DDFF;
}

.card.small,
.card.side {
    text-align: center;
}

.app-store {
    width: 50%;
}

.device {
    width: 50%;
}

.device>img {
    max-width: 100%;
}

.logos {
    font-size: 75px;
}

/* strategic-planning-section */
.left {
    background-color: #9792E4;
    width: 60%;
    padding: 2rem;
    color: white;
    line-height: 2.5;
}

.left>h2 {
    font-size: 2rem;
}

.right {
    background-color: white;
    width: 40%;
    line-height: 1.5;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30rem;
    margin-top: 22rem;
}

.right .button>a {
    font-size: 20px;
    line-height: 2.5;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #9792E4;
    border-radius: 50%;

}

.strategic-planning-section .left>img {
    margin: 3rem 0;
}

.strategic-planning-section .right>img {
    max-width: 100%;

}

.strategic-planning-section .left>img {
    max-width: 100%;

}

/* partners-section */
.partner-comment {
    background-color: #9792E4;
    padding: 1.5rem 0;
}

.partners-section>.d-flex {
    text-align: center;
}

.img-tonde {
    width: 50%;
    min-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 2rem 0 1rem;
}

/* benefits-section */
.white-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 2rem 0 3rem 0;
}

.benefit-section .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.white-card {
    background-color: white;
    max-width: calc(100% / 3 - 20px);
    padding: 1.5rem;
    line-height: 1.5;
}

.white-card>p {
    margin: 1.1rem 0 2rem 0;
}



/* about-us-section */
.seventy {
    width: calc(70% - 5px);
    align-items: center;
    flex-direction: column;
    line-height: 2.5;
    padding-top: 2.5rem;
    color: white;
}

.seventy>h3 {
    align-self: flex-start;
}

.thirty {
    width: calc(30% - 5px);
}

.thirty-bottom {
    padding-top: 1rem;
}

.seventy.bottom {
    padding-top: 1rem;
    color: black;
}

/* first-footer */
footer {
    color: white;
}

.first-footer {
    text-align: center;
    line-height: 2;
}

/* last-footer */
.last-footer {
    height: 25rem;
    background-color: #333333;
}

.last-footer>.container-xs>* {
    margin: 3rem 0;
}

/* Media Query */

@media screen and (max-width:768px) {
    .header-links-list {
        display: none;
    }

    .burger-menu {
        display: block;
    }


}

@media screen and (max-width:768px) {
    .card.double {
        flex-wrap: wrap;
        width: calc(50% - 30px);
    }

    .card.double>* {
        width: 100%;
    }

    .card.side {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width:480px) {
    .structure-section .row>.card {
        width: 100%;
    }
}

@media screen and (max-width:768px) {

    .strategic-planning-section>.container-small {
        flex-direction: column;
    }

    .container-small>.left,
    .container-small>.right {
        width: 100%;
    }
}


@media screen and (max-width:480px) {
    .partner-comment {
        flex-wrap: wrap;
    }

    .partner-comment img {
        max-width: 100%;
    }
}

@media screen and (max-width:768px) {
    .partner-comment {
        flex-wrap: wrap;
    }

    .seventy {
        width: calc(50% - 5px);
    }

    .thirty {
        width: calc(50% - 5px);
    }


}

@media screen and (max-width:768px) {
    .white-card {
        max-width: calc(100% / 2 - 30px);
    }
}

@media screen and (max-width:480px) {
    .white-card {
        max-width: 100%;
    }
}

@media screen and (max-width:480px) {
    .about-us-section>.d-flex {
        display: block;
    }

    .seventy {
        width: 100%;
    }

    .thirty {
        width: 100%;
    }



}